<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.innomalist.taxi.rider">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- This permission is optional and gets authentication SMS and fills corresponding field during registration -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.innomalist.taxi.common.MyTaxiApplication"
        android:allowBackup="true"
        android:clearTaskOnLaunch="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        tools:replace="android:label"
        tools:ignore="UnusedAttribute">
        <activity android:name=".activities.looking.LookingActivity"/>
        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".activities.splash.SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.addresses.AddressesActivity" />
        <activity
            android:name=".activities.travel.TravelActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.profile.ProfileActivity" />
        <activity android:name="com.innomalist.taxi.common.activities.chargeAccount.ChargeAccountActivity" />
        <activity android:name=".activities.about.AboutActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.Default"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.main.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            />
        <activity android:name=".activities.coupon.CouponActivity" />
        <activity android:name=".activities.promotions.PromotionsActivity" />
        <activity android:name="com.innomalist.taxi.common.activities.payment.PaymentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rider.payment" />
            </intent-filter>
        </activity>
    </application>

</manifest>