body {
  background-color: #fafafa;
}

.container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

/*Navigation*/
.bg-faded {
  background-color: #fff;
  font-weight: 500;
  border-bottom: 1px solid rgba(0,0,0,.0975);
}

.bg-nav {
  margin-top: 1rem;
}

.nav-icon {
  font-size: 1.3rem;
  vertical-align: middle;
}

/*Page Loader*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; }
.se-pre-con {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: #3f4756;
  background-image: url(../images/preloader.gif);
  background-position: center 100px;
  background-repeat: no-repeat;
}

/*border radius*/
.border-one {
  border-radius: 1rem!important;
}

.border-two {
  border-radius: 1rem 1rem 0 0!important;
}

/*Pagination*/

.pagination>li>a, 
.pagination>li>span { 
  border-radius: 50% !important; 
  margin: 0 5px;
  line-height: 1 !important; 
}

.dark-link {
  color: #fff5d9;
  background-color: #3f4756;
  border: none;
}

.page-item.disabled .page-link {
  color: #5e6369;
  pointer-events: none;
  background-color: #3f4756;
  border: none;
}

/*Adsense*/
.pagesideads{
  max-height: 300px !important;
  background-color: #2c2f39;
}

.betads{
  max-width: 500px !important;
}
/*Jumbotronstyles*/

.jumbotron {
  padding: 3rem 1rem 1rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0rem;
  color:  #2c2f39!important;
  border-bottom: 1px solid rgba(0,0,0,.0975);
}

.jumbotronadmin {
  padding: 3rem 1rem 1rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
  background-color: #fff;
}

.jblight {
  background-color: #fafafa;
}

.display-4 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.blog-footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #fff;
  text-align: center;
}

.foottxt a{
  color: #fff!important;
  text-decoration: underline;
}

/*Card styles*/

.card {
  margin-bottom: 40px !important;
  border: 0px;
}

.card-img{
  min-height: 200px;
}

.card-img-top {
  width:100%;
}

.card a, .card a:focus, .card a:hover {
  text-decoration: none;
  outline: none;
}

.card-txt-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 3rem 1.25rem;
}

.card-blog-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem 1.25rem 3rem 1.25rem;
}

.arrows a, .arrows a:focus, .arrows a:hover {
  text-decoration: none;
  outline: none;
}

.card-footer {
  padding: .75rem 1rem !important;
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,0.07);
}

.card-border {
  border-top: 1px solid rgba(0,0,0,0.07);
}

.tweettext {
  font-size: 1rem;
  line-height: 1.5;
  font-family: Arial,sans-serif;
  color: #292f33;
  word-wrap: break-word;
}

.list-item {
  display: block;
  position: relative;
}

.list-left {
  float: left;
  padding-right: 7px;
}

.list-body {
  margin-left: 52px;
}

.text-muted {
  color: inherit!important;
  opacity: .6;
}

.user-info{
  display: block;
  width: 90%;
  position: absolute;
  bottom: 1.25rem;
}

.author {
  display: flex;
  position: absolute;
  color: inherit;
  left: 1.25rem;
  bottom: 1rem;
  align-items: center;
  z-index: 3;
}

.vbadge{
  margin-left: 5px;
}

.card .author:hover {
  color: inherit;
}

.card .nocolor {
  color: inherit;
}
.card .nocolor:hover {
  color: inherit;
}

.card-date{
  display: inline-block;
  position: absolute;
  right: 1.25rem;
  bottom: 1.40rem;  
}

.card-like{
  display: inline-block;
  position: absolute;
  padding: .25rem;
  right: 1.25rem;
  bottom: 1rem; 
  z-index: 3;
}

.card-count {
  margin-top: .80rem;
  margin-left: 2rem;
  font-size: 16px;
  color: #999999;
}

.stats {
  display: inline-block;
  float: right;
  margin-top: .3rem;
}

.bottom-txt {
  position: absolute;
  left: 1.25rem;
  right: 1.25rem;
  bottom: 4rem;
  z-index: 0;
  text-shadow: 1px 1px 10px #000;
}

.txt-shad { text-shadow: 1px 1px 5px #343a40;
 }

.playericon {
  position: absolute;
  font-size: 1.6rem;
  top: .6rem;
  right: 1.25rem;
  z-index: 3;
}

.category {
  display: block;
  position: absolute;
  right: 0;
  top: -15px;
  width: 100%;
  z-index: 10;
  text-align: center;
}

.category a{
  font-size: 15px;
  color: #fff;
  display: inline-block;
  padding: 4px 25px;
  vertical-align: top;
  border-radius: 25px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.stripes {
  background-image: linear-gradient(45deg, rgba(0,0,0,.05) 25%, transparent 25%, transparent 50%, rgb(0 0 0 / 0.05) 50%, rgb(0 0 0 / 0.05) 75%, transparent 75%, rgb(0 0 0 / 0));
  background-size: 50px 50px;
}


.category-middle {
  font-size: 12px;
  text-transform: uppercase;
  padding: .25rem;
  position: absolute;  
  top: 1rem;
  right: 3rem;
  z-index: 3;
}

.avatar {
  height: 45px;
  margin-right: 5px;
}

.avatar-sm {
  height: 35px;
  margin-right: 5px;
}

.avatar-xs {
  height: 25px;
  margin-right: 5px;
}

.imgthumb {
  height: 38px;
  width: 38px;
  border-radius: 5px;
}

.time {
  white-space: nowrap;
  float: right;
}

.text-ellipsis {
  display: block;
}

.marginlt{
  margin-top: 1.50rem;
}

.btn-face {
  color: #fff!important;
  background-color: #3b5998;
  border-color: #3b5998;
  margin-left: 5%;
  margin-right: 5%;
  display: block;
}

.btn-face:hover, .btn-face:focus {  
  background-color: #30487b;
  outline: none;
}

.btn-twit {
  color: #fff!important;
  background-color: #2ba9e1;
  border-color: #2ba9e1;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}
.btn-twit:hover, .btn-twit:focus {
  background-color: #1c92c7;
  outline: none;
}

.btn-google {
  color: #fff!important;
  background-color: #db4437;
  border-color: #db4437;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}
.btn-google:hover, .btn-google:focus {
  background-color: #c9302c;
  outline: none;
}

.social i {
  margin-right: 15px;
  font-size: 21px;
  line-height: 21px;
  vertical-align: top;
}


.btn-white-color  {
  color: #fff!important;
}

.bg-post {
  border-left: 1px solid rgba(0,0,0,.0975);
  border-right: 1px solid rgba(0,0,0,.0975);
  background-color: #fff!important;
  word-wrap: break-word;
  padding-right: 0px;
  padding-left: 0px;
}

.sociallogin{
  margin-bottom: 10px;
}

.ordiv {
  background-image: url(../images/or.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 70%;
  width: 100%;
  margin-left: 5%;
}

.colleft {
  width: 25%;
  float:left;
  display:block;
}

.colright {
  float:left;
  width: 25%;
  display: inline-block; 
  padding-top: 12px;
}

.change-ratio{
  width: 100%;
  margin:-10% 0;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 10px 13px;
  position: absolute;
  top: 40%;
  left: 45%;
  right: 0;
  cursor: pointer;
  font-size: 24px;
  line-height: 1.25em;
  border-radius: 35px;
  border: 2px solid #fff; 
}

/*Admin*/

.box-white {
  -webkit-border-radius: 4px;
  border-radius: .25rem;
  background: #fff;
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: 20px;
  padding: 2rem;
}

.nav-tabs {
  border-bottom: none;
}

.admin-item {
  border-bottom: 1px solid #f7f7f9;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
}

.admin-item-img {
  display: block;
  float: left;
  margin-right: 15px;
  width: 50px;
}

.admin-image {
  width: 50px;
}

.admin-item-user {
  color: #212325;
  display: block;
  margin: 0;
}

.admin-item-text {
  color: #818a91;
  display: block;
  font-size: 12px;
  margin: 0;
}

.member-item-user {
  color: #212529;
  display: block;
  margin: 0;
}

.member-item-text {
  display: block;
  font-size: 12px;
  margin: 0;
}

.admin-simple-sm {
  border: 1px solid #d8e2e7;
  background: #fff;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
  text-align: center;
}
.admin {
  margin: 0 0 30px;
}

.admin-simple-sm .admin-simple-sm-icon {
  height: 80px;
  overflow: hidden;
  line-height: 80px;
  font-size: 2.75rem;
}

.home-icon {
  position: relative;
  top: 5px;
}

.color-blue {
  color: #00a8ff!important;
}

.color-red {
  color: #e52d27!important;
}

.color-delete {
  color: #f4645f !important;
}

.admin-simple-sm-bottom {
  border-top: solid 1px #d8e2e7;
  background: #f6f8fa;
  font-weight: 600;
  padding: 15px 10px;
  font-size: .9375rem;
  line-height: normal;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.bottom-white {
  background: #fff!important;
}

/*Profile*/
.box-profile {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  border: solid 1px #d8e2e7;
  margin: 0 0 20px;
}

.profile-card {
  display: inline-block;
  padding-right: 15px;
  float: left;
}

.profile-card-photo {
  max-width: 150px;
  border: 5px solid #fff;
  border-radius: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-card-username {
  color: #6c7a86;
}

.profile-card-points {
    color: #6c7a86;
    font-size: .8rem;
}

.profile-card-name {
  font-weight: 600;
  margin-top: 18px;
  font-size: 1.2rem;
}

.profile-statistic {
  text-align: center;
  font-size: .9375rem;
}

.level {
  vertical-align: middle;
  border-top: solid 1px #d8e2e7;
  border-bottom: solid 1px #d8e2e7;
  padding: 10px;
}

.points {
  vertical-align: middle;
  border-bottom: solid 1px #d8e2e7;
  padding: 10px;
}

.profile-links-list {
  padding: 10px 0;
  font-size: .9375rem;
  display: flex;
  margin-bottom: 0;
}

.profile-links-list li {
  padding: 4px 0;
  margin: 0 5px;
}

.profile-links-list li.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*Emojis*/
.emoji {
  height: 1.25em;
  width: 1.25em;
  padding: 0 .05em 0 .1em;
  vertical-align: -0.2em;
}

/*Heart*/
.heart {
  background: url(../images/heart.png);
  background-position: left;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  left:0px;
  background-size:1450px;
}

.heartguest {
  background: url(../images/heart.png);
  background-position: left;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  left:0px;
  background-size:1450px;
}

.heart:hover {
  background-position: right; 
}

.heartliked {
  background-position: right; 
}


.likeCount {
  margin-top: 13px;
  margin-left: 28px;
  font-size: 16px;
  color: #999999
}

.like {
  margin-top: -13px;
}

.btnadd {
  border-radius: .25rem;
  font-weight: bolder;
  cursor: pointer;
}

#texteditor {
  border-radius: .25rem;
  font-weight: bolder;
  cursor: pointer;
}

.btnhome {
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  cursor: pointer;
}

.btn-light {
  border: 1px solid #ced4da;
}

.btn-arrow {
  color: #fff;
  background-color: #252830;
  border-color: #252830;
}

.btn-arrow:hover {
  color: #fff;
  background-color: #1e2023;
  border-color: #1e2023;
}

.btn-arrow:focus, .btn-arrow.focus {
  box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
}

.btnpoint {
  cursor: pointer;
}

.bg-instant {
  background-color: #3f4756;
}

.bg-none {
  background: none!important;
}

.bg-instant:before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    height: 100vh;
    background: -webkit-gradient(linear,left top,right bottom,from(#3f4756),color-stop(#485DA6),color-stop(#00a1ba),color-stop(#01b18e),to(#32b37b));
    background: -o-linear-gradient(left top,#3f4756,#4a4a69,#634874,#834074,#a23567);
    background: linear-gradient(to right bottom, #3f4756, #4a4a69, #634874, #834074, #a23567);
}

.bg-over {
  background: rgba(0,0,0,.1);
  border-radius: 1rem;
  width: 100%;
}

.bg-over:hover {
  background: rgba(0,0,0,.3);
  border-radius: 1rem;
  width: 100%;
}

.link-over{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.embedbox{
  max-width: 400px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #111;
  background-color: #f8f9fa;
  font-weight: 500;
  border: 1px solid #ced4da;
}

.color-box{
  border-radius: .25rem;
  padding: 0 1rem;
}

.tag-img {
  height: 200px;
  border-radius: 1rem;
}

.list-inline-item:not(:last-child) {
    margin-right: 1rem;
}

/*Additional*/

.cover {
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
}


.youtube {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin:0;
}

.youtube .play-btn {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.5s ease;
}

.youtube .play-btn:after {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 8px);
  display: block;
  content: '';
  box-sizing: border-box;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 15px 0 15px 25px;;
}

.bg-cat-1 {
    background-color: #845EC2!important;
}
.bg-cat-1:hover{
    background-color: #624a8a!important;
}

.bg-cat-2 {
    background-color: #FF847D!important;
}
.bg-cat-2:hover{
    background-color: #ce6f69!important;
}

.bg-cat-3 {
    background-color: #C2791E!important;
}
.bg-cat-3:hover{
    background-color: #9c713b!important;
}

.bg-cat-4 {
    background-color: #F076D0!important;
}
.bg-cat-4:hover{
    background-color: #bf5ea6!important;
}

.bg-cat-5 {
    background-color: #C2A875!important;
}
.bg-cat-5:hover{
    background-color: #a28d63!important;
}

.cat-bx {
  float: left;
  width: 15px;
  height: 15px;
  margin: 5px;
  border-radius: 2px;
}


@-webkit-keyframes heartBlast 
{
  0% {background-position: left;}
  100% {background-position: right;}
}

@keyframes heartBlast 
{
  0% {background-position: left;}
  100% {background-position: right;}
}

.heartAnimation 
{
  -webkit-animation-name: heartBlast;
  animation-name: heartBlast;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(28);
  animation-timing-function: steps(28);
  background-position: right;
}

div.lesspadding {
  padding-right: 10px;
  padding-left: 10px;
}

/*Responsive*/
@media (max-width: 576px) {
  .jumbotron {
    padding: 3rem 1rem 1rem 1rem;
  }
}

/*Salvattore grid css and Responsive*/
.grid[data-columns]::before {
  content: '3 .column.size-1of3';
}

@media screen and (max-width: 544px){
  .grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
  .display-4 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 544px) and (max-width: 768px) {
  .grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
  .display-4 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1400px) {
  .grid[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}

@media screen and (min-width: 1400px) {
  .grid[data-columns]::before {
    content: '4 .column.size-1of4';
  }
}

.grid { 
  display: block;
  width: 100%;
}

.column { 
  float: left;
}

.size-1of1 { 
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.size-1of2 { 
  width: 50%;
  padding-right: 15px;
  padding-left: 15px; 
}

.size-1of3 { 
  width: 33.333%;
  padding-right: 15px;
  padding-left: 15px; 
}

.size-1of4 { 
  width: 25%;
  padding-right: 15px;
  padding-left: 15px; 
}

/*Internet explorer fix*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .card {
    display: block;
  }
}